*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html,body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
}
#card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 700;
}
#card h5{
    font-size: 20px;
    color: red;
    margin: 20px 0px;
}
#card button{
    background-color: black;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}
/* #card #remove{
    background-color: aqua;
    color: black;
    font-weight: 700;
    border-radius: 5px;
} */