*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html,body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.container{
    height: 400px;
    width: 350px;
    border-radius: 50px;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.container i{
    color: #fff;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.8;
    transition: transform ease 0.4s;
}